.stocks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.stocks-available > ul, .stocks-owned > ul{
    list-style-type: none;
    text-align: left;
}
.stocks-available > ul, .stocks-owned > ul{
    list-style-type: none;
    text-align: left;
}
